passenger_max_pool_size {{ passenger_instances }};
passenger_pre_start http://{{ ansible_fqdn }};
limit_req_zone $binary_remote_addr zone=clients:1m rate=75r/s;

server {
    listen 80;
    client_max_body_size {{ nginx_max_upload_size }};
    passenger_min_instances 2;
    limit_req zone=clients burst=500 nodelay;
    root {{ passenger_user_home }}/{{ hydra_head }}/public;
    passenger_enabled on;
    passenger_app_env {{ app_env }};
    server_name {{ ansible_fqdn }};
}

