# Configuration secrets
#
# The config/secrets.yml file contains configuration settings for the
# application.  They are available via the Rails.application.secrets mechanism.

# Define defaults for all Rails environments
default: &default
  # config/database.yml settings
  database: &database
    name: datarepo                                       # Database name
    username: {{ project_user }}                                    # Database user
    password: changeme                                   # Database password
    # The host: and port: below are optional.  Do not use them unless you want
    # to connect to a database over TCP/IP, e.g., one running on a different
    # server.  If host: and port: are undefined, connection will be assumed to
    # be local, e.g., via a Unix domain socket.  The port: setting will default
    # to the correct one for the database adapter, and so should only be
    # uncommented if the database is running on a non-standard port.
  # host: example.com  # Hostname of database server
  # port: 5432         # TCP/IP port of database server
  ezid: &ezid
    default_shoulder: doi:10.5072/FK2                    # Prefix for DOIs
    user: apitest                                        # EZ-ID service username
    password: apitest                                    # EZ-ID service password
  fedora: &fedora
    url: http://127.0.0.1:8080/fedora/rest               # URL of Fedora endpoint
    user: fedoraAdmin                                    # Fedora username
    password: fedoraAdmin                                # Fedora password
  orcid: &orcid
    app_id: 0000-0000-0000-0000                          # ORCID client ID
    app_secret: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX     # ORCID client secret
  redis: &redis
    host: localhost # Hostname of Redis server
    port: 6379      # TCP/IP port of Redis server
  # URL of CAS service endpoint.  Use one of the following endpoints at Virginia Tech:
  # Development: https://login-dev.middleware.vt.edu/profile/cas
  # Production: https://login.vt.edu/profile/cas
  cas_endpoint_url: https://login-dev.middleware.vt.edu/profile/cas
  # The google_analytics_id: below should only be defined if usage statistics
  # are to be gathered.  Leave commented otherwise.
# google_analytics_id: UA-99999999-1                     # Google Analytics tracking ID
  # To get a working Rails application by using this file you'll need to
  # uncomment and define secret_key_base: below.  It is typically set to a long,
  # random string, such as the output of "openssl rand -hex 64" (or the output
  # of the "rake secret" task).
  secret_key_base: fa477e4847781179a8ba8c4c59ebc3b80585e9354f988b1a776123cd623272172d9c261ab00b3a75a084ed0861d3753d1bf5896c5183f68541e3f782db225a76                                       # Don't forget to define this!

# These are the settings applicable for RAILS_ENV=development.  They inherit
# settings from the above "default".
development:
  <<: *default
  fedora:
    <<: *fedora
    base_path: /dev
  blacklight_url: http://127.0.0.1:8983/solr/development # Blacklight endpoint URL
  solr_url: http://localhost:8983/solr/development       # Solr endpoint URL

# These are the settings applicable for RAILS_ENV=test.  They inherit settings
# from the above "default".
test:
  <<: *default
  fedora:
    <<: *fedora
    base_path: /test
  blacklight_url: http://127.0.0.1:8983/solr/test        # Blacklight endpoint URL
  solr_url: http://localhost:8983/solr/test              # Solr endpoint URL
  secret_key_base: abad1dea

# These are the settings applicable for RAILS_ENV=production. They inherit
# settings from the above "default".
production:
  <<: *default
  fedora:
    <<: *fedora
    base_path: /prod
  blacklight_url: http://127.0.0.1:8983/solr/production  # Blacklight endpoint URL
  solr_url: http://localhost:8983/solr/production        # Solr endpoint URL

